.blog img {
  width: 30%;
  height: 30%;
  background-color: #2d67d3;
  border-radius: 50%; /* Adds rounded corners */
  margin: auto; /* Centers horizontally */
  display: block; /* Required for margin: auto to work */
  object-fit: cover; /* Maintains aspect ratio */
}
.blog .text {
  padding: 40px 30px;
}
.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}
.blog h1:hover {
  color: #2d67d3;
  cursor: pointer;
}
.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #2d67d3;
}
.blog span label {
  margin-left: 10px;
  color: grey;
  font-size: 14px;
}
.blog span:nth-last-child(1) label {
  color: #2d67d3;
}
.blog p {
  color: grey;
}
